/*importem tipografia*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    background-color: red!important;
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }