/*importem tipografia*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
/*estils principals*/
html{ height: 100%; font-family: 'Roboto', sans-serif;font-size: 16px;}
body{ height: 100%; font-size: 1.2rem;line-height:1.8rem}
.mainmenu li a{text-transform: uppercase;}
.active a{border-bottom: 3px solid #1f75af;}
.breadcrumb{background-color: #ffffff;}
.header-img{height:50%;width: 100%;}
#home{background: url(/assets/img/slider/slider3.png);background-size: cover;}  
@keyframes titleHome {
  0% {transform: scale(0.1);color:#1f75af;opacity: 0;}
  90% {transform: scale(1.03);opacity: 1;}
  100% {color: #fff;transform: scale(1);}}

@-webkit-keyframes titleHome {
  0% {transform: scale(0.1);color:#1f75af;opacity: 0;}
  90% {transform: scale(1.03);opacity: 1;}
  100% {color: #fff;transform: scale(1);}}

@keyframes scaleLogos{
100% {transform: scale(1.2);}
}

.titol{color:#ffffff; padding-left: 30px;font-weight: 700; animation: titleHome 3s ease-out; -webkit-animation: titleHome 3s ease-out;}
.subtitol{color:#ffffff; float:right; padding-left: 30px;font-weight: 700; animation: titleHome 3s ease-out; -webkit-animation: titleHome 3s ease-out;}
.logoshome:hover{ animation: scaleLogos 3s; -webkit-animation: scaleLogos 3s;}



.img-categories{display: flex; justify-content:center; align-items: center;}
.btn_info{background-color: #1f75af;padding: 0.1rem 1rem .5rem 1rem;border: 0 solid #000000;border-width: 4px 0 4px 0;font-size: 1rem;font-weight: 700; color:#ffffff;text-decoration: none;}
.btn_info:hover{text-decoration: none; color:#ffffff}

/*tasks runners*/


  .img {
    background-image: url(/assets/img/task_runners/tasks_header.jpg);background-size: cover ;
    background-image: 
      -webkit-image-set(
        url(/assets/img/task_runners/tasks_header2.jpg) 1x,
        url(/assets/img/task_runners/tasks_header.jpg) 2x,
      );
    background-image: 
      image-set(
        url(/assets/img/task_runners/tasks_header2.jpg) 1x,
        url(/assets/img/task_runners/tasks_header.jpg) 2x,
      );
  }
  .img-ides {
    background-image: url(/assets/img/ide/ides_header.png);background-size: cover ;
    background-image: 
      -webkit-image-set(
        url(/assets/img/ide/ides_header2.png) 1x,
        url(//assets/img/ide/ides_header.png) 2x,
      );
    background-image: 
      image-set(
        url(/assets/img/ide/ides_header2.png) 1x,
        url(/assets/img/ide/ides_header.png) 2x,
      );
  }

/*
#tasks{
background-image: image-set(url(/assets/img/task_runners/tasks_header.jpg) 1x, url(/assets/img/task_runners/tasks_header2.jpg) 2x);}*/
.title_category{color:#ffffff; padding-left: 30px;font-weight: 700;}
.img-category{width: 50%;height: auto;}
.img-category:hover{ animation: scaleLogos 3s; -webkit-animation:scaleLogos 3s; }

.test{height:50%;width: 100%;background-color:#e9ecef;}
.headers{display:flex; flex-direction: row; flex-wrap:nowrap; justify-content:space-between; align-items: center; }

/*ide*/
.vsc-svg{width: 100%;}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .header-img{height:33%;width: 100%;}
  #home{background: url(/assets/img/slider/slider3.png);background-size: cover;}
  .titol, .title_category{font-size:2.5rem}  
  .main_title{font-size:2.5rem}
  .card_second{padding-top: 15px}
  .img-categories{padding: 1.5rem 1rem;text-align: center}
  .btn_info_category{position: relative;}

 }
 /*#tasks{background: url(/assets/img/task_runners/tasks_header.jpg); background-size:cover;}*/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
 
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}